# String

In [1]:
#WAP to take input string from user and print the length of string
user = input("Enter your string : ")
print(len(user))

Enter your string : shital
6

In [1]:
# Write a Python program to get a string made of the first 2 and the last 2 chars from a given a string.
info = "MyProject"
print(info[:2]+info[-2:])

Myct

In [17]:
# Write a Python program to get a single string from two given strings by user , 
#separated by a space and swap the first two characters of each string. 
#Sample String : 'abc', 'xyz' =   Expected Result : 'xyc abz'
str1, str2 = input("Enter space spreated string : ").split(',')
print("Orignal string ", str1, str2)
New_str1 = str2[:2] + str1[2:]+ ' '+ str1[:2] + str2[2:]
print("After Swap string :",New_str1)

Enter space spreated string : xyz,abc
Orignal string  xyz abc
After Swap string : abz xyc

In [38]:
# Write a Python program to change a given string to a new string where all the even position 
#characters are in starting and all odd position characters are in end.
string = 'Python'
new_string = string[::2] + string[1::2]
print(new_string)
# another way:
st = ''
for i in range(len(string)):
    if i % 2 == 0:
        st = st+string[i].upper()
        
    else:
        st = st+string[i].lower()
print(st)

Ptoyhn
PyThOn

In [26]:
#Write a Python program to remove the characters which have odd index values of a given string
str1 = 'swarit'
even_letter = str1[::2]
print(even_letter)
#another way
str2 = ''
for i in range(len(str1)):
    if i % 2 ==0:
        str2 = str2+str1[i]
print(str2)

sai
sai

In [13]:
# WAP to insert a string in the middle of a other string. 
str1 = 'python'
str2 = 'my course'
print(str2[:2]+" "+str1+" "+str2[3:])

my python course

# List

In [21]:
# Write a Python program to remove duplicates from a list
list1 = [1,2,3,4,2,5,6,7,2,4]
s = list(set(list1))
print(s)

[1, 2, 3, 4, 5, 6, 7]

In [22]:
# Write a Python program to find the length of all words of a list
list1 = [1,2,3,'swati', [1,2]]
print(len(list1))

5

In [19]:
# Write a Python program to print a specified list after removing the 0th, 4th and 5th elements. 
#Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
#Expected Output : ['Green', 'White', 'Black']
orignal_list = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
orignal = orignal_list.pop(0)
orignal1= orignal_list.pop(4)

orignal2 = orignal_list.pop(3)
print(orignal_list)

['Green', 'White', 'Black']

In [2]:
# Write a Python program to generate a 3*4*6 3D array whose each element is *
first = ["*"] * 6
second = [first] * 4
third = [second] * 3
print(third)
list1 = [[['*']*6]*4]*3
print(list1)

[[['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']], [['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']], [['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']]]
[[['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']], [['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']], [['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']]]

In [30]:
#  Write a Python program to get the difference between the two lists.
list1 = [1,2,5,4,3,7,8,6,5,4,99]
list2 = [1,4,7,8,9,5,44,33,88]

# difference
list3 = list(set(list1) - set(list2))
print(list3)

[99, 2, 3, 6]

In [25]:
# Write a Python program to find the index of an item in a specified list
list1 = ['Shital', 'Swati', 'Raj', 'Priya']
value = list1.index('Raj')
print(value)

2

In [26]:
# Write a Python program to append a list to the second list.
list1 = ['Shital', 'Swati', 'Raj', 'Priya']
list2 = [1,2,3,4]
list1.extend(list2)
print(list1)

['Shital', 'Swati', 'Raj', 'Priya', 1, 2, 3, 4]

In [5]:
list1 = ['Shital', 'Swati', 'Raj', 'Priya']
list2 = [1,2,3,4]
list1.append(list2)
print(list1)

['Shital', 'Swati', 'Raj', 'Priya', [1, 2, 3, 4]]

In [7]:
# Write a Python program to get unique values from a list
list1= [1,2,3,4,5,6,7,8,2,3,4,5]
print(list(set(list1)))

[1, 2, 3, 4, 5, 6, 7, 8]

In [8]:
# Write a Python program to count the number of elements in a list within a specified range
#eg . count elements between 2 to -2 index
list1 = [1,2,3,4,5,2,3,4,5]
count = len(list1[2:-1])
print(count)

6

In [18]:
# Write a Python program to check whether a list contains a sublist
#check type of elements
list1 = ['Shital', 23, [1,2,3], 25, (1,23,2)]
print(type(list1[0]))
print(type(list1[1]))
print(type(list1[2]))
print(type(list1[4]))

<class 'str'>
<class 'int'>
<class 'list'>
<class 'tuple'>

In [16]:
# Write a Python program to remove an empty tuple(s) from a list of tuples.
list5 = [(),(),('',),('a', 'b'),('a', 'b', 'c'),('d')]
list5.remove(())
list5.remove(())
print(list5)

[(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

# DICT

In [32]:
# Write a Python script to ask a key and value from user and add it to a dictionary.
dict1= {}
data = input("Enter the key: ")
data_value = input("Enter the value : ")
dict1[data] = data_value
print(dict1)

Enter the key: 2
Enter the value : 3
{'2': '3'}

In [57]:
# Write a Python script to concatenate following dictionaries to create a new one
#dic1={'a':101, 'b':201} dic2={'c':301, 'd':401} dic3={'e':501,'f':601}
dic1 = {'a': 101, 'b': 201}
dic2 = {'c':301, 'd': 401}
dic3 = {'e': 501, 'f':601}
dic = {}
dic.update(dic1)
dic.update(dic2)
dic.update(dic3)
print(dic)

{'a': 101, 'b': 201, 'c': 301, 'd': 401, 'e': 501, 'f': 601}

In [43]:
# Write a Python script to check if a given key already exists in a dictionary
dict1 = {'name': 'shital', 'sname': 'khaire', 'course': 'python'}
key = input("Enter key : ")
if key in dict1:
    print("Key is alreday in dict")
else:
    print("Key is not in dict")

Enter key : naam
Key is not in dict

In [45]:
# Write a Python program to sum all the values in a dictionary
info = {'a': 101, 'b': 201, 'c': 301, 'd': 401, 'e': 501, 'f': 601}
print(sum(info.values()))

2106

In [47]:
# WAP tp print all the keys of dict
dict1 = {'name': 'shital', 'sname': 'khaire', 'course': 'python'}
print(list(dict1.keys()))

['name', 'sname', 'course']

In [48]:
# Write a Python program to sum all the values in a dictionary
dict1 = {'name': 'shital', 'sname': 'khaire', 'course': 'python'}
print(list(dict1.values()))

['shital', 'khaire', 'python']

In [55]:
# Write a Python program to remove a key from a dictionary
dict1 = {'name': 'shital', 'sname': 'khaire', 'course': 'python'}
# dic = dict1.pop('name')
# print(dict1)
# another way: 
key = input("Enter key: ")
if key in dict1:
    print(f"remove key is {key}")
else:
    print(f"Error {key} is not in dict")
print(dict1)

{'sname': 'khaire', 'course': 'python'}
Enter key: sname
remove sname

In [60]:
#Write a Python program to get the maximum and minimum value in a dictionary
data = {'a': 101, 'b': 201, 'c': 301, 'd': 401, 'e': 501, 'f': 601}
print(max(data.values()))
print(min(data.values()))

601
101

In [7]:
# Write a Python program to remove duplicate values from Dictionary
data = {'a': 101, 'b': 201, 'c': 301, 'd': 401, 'e': 501, 'f': 601, 'a':101, 'd':300}
temp = []
dup = []
for k, v in data.items():
    if v in temp:
        dup.keys.append(k)
    else:
        temp.append(v)
for i in dup:
    data.pop(i)
print(data)

{'a': 101, 'b': 201, 'c': 301, 'd': 300, 'e': 501, 'f': 601}

In [49]:
# Write a Python program to check a dictionary is empty or not and TRUE or FALSE
data = {}
if data:
    print("Not empty")
else:
    print("It's empty")

It's empty

In [12]:
# Write a Python program to print all unique values in a dictionary
data = {'a': 101, 'b': 201, 'c': 301, 'd': 401, 'e': 501, 'f': 601, 'r':101, 'y':201}
print(set(data.values()))

{101, 201, 301, 401, 501, 601}

In [14]:
# Write a Python program to find the highest 3 values in a dictionary
data = {'a': 101, 'b': 201, 'c': 301, 'd': 401, 'e': 501, 'f': 601, 'r':101, 'y':201}
temp = list(data.values())
temp.sort()
print(temp[-3:])

[401, 501, 601]

# MIX