# Boolean

In [2]:
data = True
info = False
print(type(data))

<class 'bool'>

# None

In [3]:
data = None
print(type(data))

<class 'NoneType'>

# Comparisions

- value
- Membership
- Identity

# value

In [7]:
salary = 50000
salary1 = 56000
print(salary == salary1) # equal to 
print(salary != salary1) # not equal to
print(salary < salary1)
print(salary > salary1)
print(salary >= salary1)
print(salary <= salary1)

False
True
True
False

# Membership

- in/ not in

In [10]:
data = 'This is my list'
print('my' in data)
print('My' not in data)
print('My' in data)

True
True
False

In [15]:
dict1 = {'a': 'Arush', 'b':'Baner'}
print('Arush' in dict1)
print('Arush' in dict1.values())
print('a' in dict1)
print(('a','Arush') in dict1.items())

False
True
True
True

# Identity

- is/ is not

In [16]:
list1 = [1,2,3]
list2 = [4,5,6]
print(list1 is list2)

False

In [22]:
list4 = [1,2,3]
list1 = [1,2,3]

list5 = [4,5,6]
print(list4 == list5)
print(list4 == list1)
print(list1 is list4)
print(id(list4))
print(id(list5))

False
True
140373620319424
140373620322112

In [21]:
data = 5
data1 = 5
print(data == data1)
print(data is data1)

True
True

In [23]:
a = 'shital'
b = 'shital'
print(a is b)

True

In [24]:
a = (1,2)
b = (1,2)
print(a is b)
# tupl ke andar list ho to changes hote hai isliye uski memrory location alag hota hai.

False

# Conditional Statements

In [32]:
marks = int(input("Enter your marks: "))
sex = input("enter your Gender: ").capitalize()
if marks >= 60 and marks <= 100:
    print("Frist Division")
    if sex == 'Female':
        print("You won free education")
elif marks >= 40 and marks < 60:
    print('Second Division')
elif marks >= 35 and marks <40:
    print('Thrid Division')
elif marks > 0 and marks < 34:
    print('Please Reapper in Exam !!')
else:
    print("Please Enter a valid Percentage.")
print("Best of Luck!")

Enter your marks: 89
enter your Gender: female
Frist Division
You won free education
Best of Luck!

# Logical operators

- or - if any true then return Ture
- and - if all true then return Ture

In [61]:
bank_detail = {'123': {'Name': 'HDFC',
                       'city': 'Baner', 
                       'Bal': 30000,
                       'Password': 1233},
                       
               '124': {'Name': 'AXIS',
                        'city': 'pune', 
                        'Bal': 33000,
                          'Password': 3456}}
user = input("Enter your Bank account number: ")
pwd = int(input("Enter your password: "))
amt = int(input("Enter how much ammout your want withdraw: "))

if user not in bank_detail:
    print("Error : Invalid account number.")
else:
    if pwd != bank_detail[user]['Password']:
        print("Your password is not valid.")
    else:
        if amt > bank_detail[user]['Bal']:
            print(f"Error :  Insufficient Balance")
        else:
            bank_detail[user]['Bal'] = bank_detail[user]['Bal']- amt
            print(f"New Balance is {bank_detail[user]['Bal']}")

Enter your Bank account number: 123
Enter your password: 1233
Enter how much ammout your want withdraw: 4000
New Balance is 26000

- take acc no as input
    - error of acc no is not valid
    - password
        -error
        - Amount to withdraw
            - more then balance: error
            - less - deduct the amount