In [1]:
def check_even(n):
    if n % 2 == 0:
        return True
    else:
        return False

In [2]:
data = check_even(5)

In [3]:
print(data)

False

In [4]:
def get_even_odd(n):
    if check_even(n):
        return 'Even'
    else:
        return 'Odd'

In [5]:
get_even_odd(40)

'Even'

In [10]:
def main():
    check_even(5)

In [11]:
main()

# File Handlling

- I/O file
    - create a connection with file(open)
        - Access Mode:
            - 'r': read
                    Error if file not exists
                    default mode
            - 'w': Write
                    Overwrite
                    creates a file does not exists
            - 'a' : append at the end
                    create file if does not exists
            - '+' : 
            - 'b' /'t' : 't' text mode is default

## Write to file

In [16]:
# file handler
fh = open(r'test.txt', 'w')
fh.write("This is first line\n")
fh.write("This is the second line\n")
fh.close()

In [17]:
# file handler
fh = open(r'test.txt', 'w')
fh.write("1. This is first line\n")
fh.write("2. This is the second line\n")
fh.close()

In [18]:
# file handler
fh = open(r'test.txt', 'a')
fh.write("3. This is first line\n")
fh.write("4. This is the second line\n")
fh.close()

In [19]:
data = ['First line\n', 'Second line\n', 'Third line\n']
fh = open(r'test.txt', 'a')
fh.writelines(data)
fh.close()

In [22]:
fh = open(r'test.txt')
info = fh.read()
print(info)
fh.close()

1. This is first line
2. This is the second line
3. This is first line
4. This is the second line
First line
Second line
Third line

In [27]:
fh = open(r'test.txt')
info = fh.read(10)
print(info)
print(fh.tell())# where is your pointer in your file that will show ushing this function.
fh.seek(5)# start to pointer print your text where to start.
info = fh.read(10)
print(info)
print(fh.tell())
fh.close()

1. This is
10
is is firs
15

- readline()
     - read one line
- readlines()
    read all line

In [28]:
#Read file line by line using loop.
fh = open(r'test.txt')
for i in fh:
    print(i)

1. This is first line

2. This is the second line

3. This is first line

4. This is the second line

First line

Second line

Third line

In [31]:
file = r'test.txt' # fh will be closed after with execution.
with open(file, 'a')as fh:
    fh.write("This a test\n")
    fh.write("This a test\n")

## Log file

- Format : [Info]: message

- wite a one function which will add a message in log file

In [7]:
log_file = r'log.txt'


def log_me(msg, level= 'INFO'):
    data = f'[{level}]: {msg}\n'
    with open(log_file, 'a') as fh:
        fh.write(data)

In [8]:
log_me('User password is correct')
log_me("Login successfully: shital")

In [15]:
#WAF to givr list of successful logged in users.
log_file = r'log.txt'

def get_logged_in_user():
    fh = open(log_file)
    users = []
    for line in fh:
        if 'Login successfully' in line:
            users.append(line.rsplit(':',1)[-1].strip())
    print(f'Logged in users: {users}')

get_logged_in_user()

Logged in users: ['Arush', 'Arush', 'shital', 'shital']

## Comprehensions

- List
- Dict

In [17]:
#var_name = [transformation, Iteration, Filteration]

NameError: name 'transformation' is not defined

In [19]:
# create a list with cube of 1 to 10
sq = [j**3 for j in range(1,11)]
print(sq)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [20]:
# create a list with cube of even numbers from 1 to 10
sq = [j**3 for j in range(1,11) if j %2 == 0]
print(sq)

[8, 64, 216, 512, 1000]

In [26]:
names = ['tejus', 'siddhi', 'ram', 'sandip', 'sagar','sonalI', 'monU']
vowels = 'aeiou'
data = [i[0].upper() for i in names if i[-1].lower() in vowels]
print(data)

['S', 'S', 'M']

In [27]:
data = {i:i[0].upper() for i in names if i[-1].lower() in vowels}
print(data)

{'siddhi': 'S', 'sonalI': 'S', 'monU': 'M'}

## Enumerate

In [30]:
# Enumerate
names = ['tejus', 'siddhi', 'ram', 'sandip', 'sagar','sonalI', 'monU']

data= list(enumerate(names))
print(data)

[(0, 'tejus'), (1, 'siddhi'), (2, 'ram'), (3, 'sandip'), (4, 'sagar'), (5, 'sonalI'), (6, 'monU')]

In [32]:
for i , j in enumerate(names):
    if j[-1].lower() in 'aeiou':
        print(f"Index no is {i}")

Index no is 1
Index no is 5
Index no is 6

# Zip

In [3]:
names = ['tejus', 'siddhi', 'ram', 'sandip', 'sagar','sonalI', 'monU']
marks = [44,34,23,12,16,44,43]
rno = [1,2,3,4,5,6,7]

info = list(zip(names, marks, rno))
print(info)

[('tejus', 44, 1), ('siddhi', 34, 2), ('ram', 23, 3), ('sandip', 12, 4), ('sagar', 16, 5), ('sonalI', 44, 6), ('monU', 43, 7)]

# Map

In [4]:
def square(n):
    return n**2

In [5]:
list2 = [1,3,4,5,6,7,9,12,14]
sq = []
for i in list2:
    sq.append(square(i))
print(sq)

[1, 9, 16, 25, 36, 49, 81, 144, 196]

In [8]:
sq1 = list(map(square, list2))
print(sq1)

[1, 9, 16, 25, 36, 49, 81, 144, 196]

In [9]:
no1, no2, no3 = input("Enter 3 numbers: ").split(',')
print(no1)
print(type(no1))

Enter 3 numbers: 1,2,3
1
<class 'str'>

In [10]:
no1, no2, no3 = map(int,input("Enter 3 numbers: ").split(','))
print(no1)
print(type(no1))

Enter 3 numbers: 1,2,3
1
<class 'int'>