# List

- Collection
- Indexed
- Ordered
- Mutable

    - update/Edit the value
    - add a element
        - at the end(append)
        - nth index number
    - order change
    - delete the element
        -  index number (pop)
        - value (remove)

- How to create a list?
    - Edit / update the value

In [2]:
names = [1, 2, 'Sonali', 'Shital', 'Tejus', 'Arti']
print(names)
print(type(names))

[1, 2, 'Sonali', 'Shital', 'Tejus', 'Arti']
<class 'list'>

In [3]:
print(names[-2])

Tejus

In [4]:
names = ['Sonali', 'Parvinder', 'Tejus', 'Arti']
names[1]= 'Shital'
names[-1] = [1, 2, 3]
print(names)

['Sonali', 'Shital', 'Tejus', [1, 2, 3]]

In [5]:
print(names[-1][2])

3

- add the element
    - append() = add the element in the last.
    - insert() = add the element select index the insert the value.

In [6]:
# Add the single element at the end
names.append('Sagar')
print(names)

['Sonali', 'Shital', 'Tejus', [1, 2, 3], 'Sagar']

In [7]:
names.insert(2, 'Pravin')
print(names)

['Sonali', 'Shital', 'Pravin', 'Tejus', [1, 2, 3], 'Sagar']

- delete
- remove

In [8]:
data = names.pop(2)
print(names)
print(data)

['Sonali', 'Shital', 'Tejus', [1, 2, 3], 'Sagar']
Pravin

In [2]:
list1 = ['shital','priya', 'om', 'om', 'RAJ', 'om']
list1.remove('om')
print(list1)

['shital', 'priya', 'om', 'RAJ', 'om']

In [17]:
list1.reverse()
print(list1)

['om', 'RAJ', 'om', 'priya', 'shital']

In [18]:
list1.sort()
print(list1)

['RAJ', 'om', 'om', 'priya', 'shital']

In [23]:
print(ord('o'))
print(ord('O'))

111
79

In [4]:
list2 = [44,32,23,45,56,67]

list2.sort(reverse = True)# utarta kram
print(list2)

[67, 56, 45, 44, 32, 23]

In [5]:
list2.sort(reverse = False) # chadta kram
print(list2)

[23, 32, 44, 45, 56, 67]

In [6]:
print(ord('a'))
print(ord('A'))

97
65

In [8]:
print(len(list2))
print(list2.count(44))

6
1

- count()
-

In [2]:
list1 = [1,2,3,4]
list2 = [5,6,7]
list1.append(list2)
print(list1)

[1, 2, 3, 4, [5, 6, 7]]

In [8]:
print(list1.pop(-1))
print(list1)

[5, 6, 7]
[1, 2, 3, 4]

In [9]:
# extend : breaks the word.
name = 'suraj'
list1.extend(name)
print(list1)

[1, 2, 3, 4, 's', 'u', 'r', 'a', 'j']

In [10]:
list1 = [1,2,3,4]
list1[4] = 'Dipti'
print(list1)

IndexError: list assignment index out of range

# Tuple

- collection
- index
- ordered
- immutable

In [7]:
names = ('Ethans', 'Wakad', 'Pune')

In [8]:
print(names)
print(type(names))

('Ethans', 'Wakad', 'Pune')
<class 'tuple'>

In [9]:
print(names[2])
print(names[-1])

Pune
Pune

- count()
- len()

In [11]:
names.count('Ethans')

1

In [16]:
len(names)

3

In [21]:
names = (1,2,3, 'shital', [1,2,3])
print(names)
print(names[])

(1, 2, 3, 'shital', [1, 2, 3])

- tuple performance is faster than list
- tuple in immutable and list is mutable

# Sets

- collection
- unindexed
- unorderd
- unique values only
- mutable

In [23]:
names = {'Ethans', 'wakad', 5,4,3}
print(names)

{'Ethans', 3, 4, 5, 'wakad'}

In [24]:
names.add('Pune')
print(names)

{'Ethans', 3, 4, 5, 'Pune', 'wakad'}

In [25]:
names.remove('wakad')
names.pop()
print(names)

{3, 4, 5, 'Pune'}

-

In [29]:
emp = {'om', 'Raj', 'priya'}
mag = {'om', 'riya', 'ravi'}
print(emp-mag)
print(mag-emp)
print(mag & emp)
print(mag | emp)

{'Raj', 'priya'}
{'ravi', 'riya'}
{'om'}
{'om', 'Raj', 'riya', 'priya', 'ravi'}

In [33]:
s = {1,2,3,4,2}
print(s)

{1, 2, 3, 4}

# DICT

- Collection
- Ordered
- Indexed(key)
- Mutable
- key - value pair
- key are unique
- key can be int/str/tuble = key is immutable

In [35]:
data = {'name': 'shital', 'age': 30, 'class':'Python'}
print(data)

{'name': 'shital', 'age': 30, 'class': 'Python'}

In [36]:
print(data['age'])

30

In [37]:
data['name'] = 'Pawar'
print(data)

{'name': 'Pawar', 'age': 30, 'class': 'Python'}

In [38]:
data['course'] = 'Python'
print(data)

{'name': 'Pawar', 'age': 30, 'class': 'Python', 'course': 'Python'}

- Methods
    - keys()
    - items()
    - values()
    - .get()
    - update- clear()
    - pop() = select key and remove this item
    - popiteme(). = delete last item

In [39]:
dict1 = {2:4, 3:9}
dict2 = {3:9, 4:6}
dict1.update(dict2)
print(dict1)

{2: 4, 3: 9, 4: 6}

In [40]:
dict1.clear()
print(dict1)

{}

In [41]:
s={}
print(type(s))

<class 'dict'>

In [46]:
data = {2:3, 4:5, 6:7}
data.pop(4)
data.popitem()
print(data)
print(a)

{2: 3}
(6, 7)