## String contend

#String Indexing

In [2]:
name = "Ethans"
print(name[2])

h

# String slicing

- var_name(start:stop:step)
- step default value is +1

In [7]:
name = 'Dattaprasad'
print(name[2:5])

tta

In [8]:
print(name[2:20])

ttaprasad

In [9]:
print(name[2:11:2])

tarsd

In [13]:
print(name[-1:-5]) # empty striing because step value is defalut 1.

In [14]:
print(name[-1:-5:-1])

dasa

In [17]:
print(name[:5])
print(name[:5:-1])

Datta
dasar

In [16]:
print(name[5:])

prasad

- interview que

In [1]:
# How to revers string?
name = input("Enter your name: ")
print(name[::-1]) # start and stop value is not define that's why it's start with default -1 to end in neagative step.
print(name[-1::-1])

Enter your name: shitalkhaire
eriahklatihs
eriahklatihs

## string methods

- String are IMMUTABLE
    - upper ()
    -lower ()
    - capitalize()
    -ljust()
    -rjust()
    -center()
    -count()
    -Index()
    -strip()
    -lstrip()
    -rstrip()
    - replace()
    - split()
    -rsplit()
    -isupper()
    -islower()
    - isdigit()
    - isalpha()
    - endswith()
    - startswith()

In [2]:
data = 'welcome To todays class. We are going to online class'
print(data.upper())
print(data.lower())
print(data.capitalize())

WELCOME TO TODAYS CLASS. WE ARE GOING TO ONLINE CLASS
welcome to todays class. we are going to online class
Welcome to todays class. we are going to online class

In [5]:
data1 = 'welcome to python course'
print(data1.ljust(40,'-'))
print(data1.rjust(40, '-'))
print(data1.center(40, '-'))

welcome to python course----------------
----------------welcome to python course
--------welcome to python course--------

In [6]:
name = 'arush'
name1 = 'arush'
print(id(name))
print(id(name1))

140632544083312
140632544083312

In [13]:
data = 'Welcome to python Course'
print(data.lower().count('co'))

2

In [21]:
print(len(data))
print(data.index('to'))

24
8

In [1]:
name = 'my name is shital'
print(name.index('s')) # first one 's ' index is print.
print(name.index('s', 10)) # you can see after first then when print second time.

9
11

In [29]:
name = '------Ethans---- ns----'
data = name.strip('-')
print(data)

Ethans---- ns

In [30]:
print(name.strip('-'))
print(name.lstrip('-'))
print(name.rstrip('-'))

Ethans---- ns
Ethans---- ns----
------Ethans---- ns

In [36]:
no = '123-456-789'
print(no.split('-', 1))
print(no.rsplit('-', 1))

['123', '456-789']
['123-456', '789']

In [47]:
name = 'SHITAL'
print(name.isupper())
print(name.islower())
print(name.isdigit())
print(name.isalpha())
print(name.endswith('L'))
print(name.startswith("S"))

True
False
False
True
True
True

# Type cast

- str/ int/ float

In [3]:
#MY Code Solution
under = ''
print(under.rjust(80, '-'))
print(under.rjust(30, " "), "AGE CALCULATOR", under.ljust(30, " "))
print(under.rjust(80, '-'))

var_name = input("Enter your Full Name, age: ")
var_age = int(input("Enter your expected age: "))
msg = "Hi ETHANS Wakad"
year = int(input("Enter the year: "))
print(msg.center(40))
new_msg = ''
print(new_msg.rjust(5, ' '), "you will turn", var_age, "years old in ", year)

--------------------------------------------------------------------------------
                               AGE CALCULATOR
--------------------------------------------------------------------------------
Enter your Full Name, age: shital, 40
Enter your expected age: 30
Enter the year: 2023
            Hi ETHANS Wakad
      you will turn 30 years old in  2023

In [7]:
# Class Code Solution
width = 40
cyear = 2023
name = 'AGE CALCUTATOR'
head = '-' * width
print(head)
print(name.center(width))
print(head)
full_name, age = input("Enter your Full Name, age : ").split(',')
fname,sname = full_name.split()
eage = int(input("Enter your expected age : "))
msg = 'Hi '+ fname.upper()+' '+sname.lower()
print(msg.center(width))
year = cyear+ (eage - int(age))
print("You will turn 100 years old in "+ str(year))

----------------------------------------
             AGE CALCUTATOR
----------------------------------------
Enter your Full Name, age : shital khaire, 30
Enter your expected age : 40
            Hi SHITAL khaire
You will turn 100 years old in 2033

# Collections

- List
- tuple
- sets
- dict